<header>
    <div class="menu_bar" role="navigation">
        <div class="left"><a href="/"><img src="/images/logo.png" width="18px"
                                           class="logo"></a>
            <ul>
                <li class="goog-inline-block"><a
                        href="/ydn-db/getting-started.html">Guides</a></li>
                <li class="goog-inline-block"><a
                        href="/api-reference/ydn-db/storage.html">API</a></li>
                <li class="goog-inline-block"><a href="/index/downloads.html">Downloads</a>
                </li>
                <li class="goog-inline-block"><a href="/index/demos.html">Examples</a>
                </li>
                <li class="goog-inline-block"><a href="/index/support.html">Support</a>
                </li>
            </ul>
        </div>
        <div class="right">
            <ul id="login-toolbar" style="display: none">
                <li class="goog-inline-block"><a id="user-login">login</a></li>
                <li class="goog-inline-block"><span id="user-name"
                                                    style="display: none;"></span>
                </li>
            </ul>
        </div>
        <div></div>
    </div>
</header>